// Variables
:root{
    --footer-height: 20px;

    --font-size: 12px;
    // -------- Editor
    --padd : 25px;
    --lineS : 1.2;
    --innerPadd : 10px;
    // -------- Terminal
    --termSize : 45%;
    --termOption : calc(10% +  50px);
    // Mobile query
    @media screen and (max-width: 600px){
        --termOption : 20%;
    }


    // === ALL THEME VARIABLE ===
    --theme-bg-color: #000;
    --theme-primary-color: #fff;
    --theme-secondary-color: rgb(240, 240, 240);
    --theme-color-muted: #506882;
    --theme-text-color: #000000;
    --theme-extra-color: #fff;
    --theme-border-color: rgba(0, 0, 0, 0.3);
    --theme-caret-color: #000000;
    --theme-alert-color: rgba(0, 0, 0, 0.8);
    --theme-cristal-color: rgba(0, 0, 0, 0.3);
    --theme-footer-color: rgba(0, 0, 0, 1);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // font-family: Menlo, Monaco, 'Courier New', Courier, monospace !important;
    font-family: 'Source Code Pro', 'Courier New', Courier, "SFMono-Regular", Consolas, Liberation Mono, Menlo, monospace !important;
    // font-family: monospace;
    // font-size: 1.05em;
    font-size: var(--font-size);
}
.scroll{
    opacity: 0;
    background-color: rgba(#000000, 1);
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
}
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

// Body styles
body{
    &.row-resize{
        &, *{
            cursor: row-resize !important;
        }
    }
    &.col-resize{
        &, *{
            cursor: col-resize !important;
        }
    }
    a {
        display: inline-block;
        padding: 2px;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover{
            background: #666666;
            color: #fff !important;
        }
    }
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
    width: 100vw;
    height: 100vh;

    &.dark, &.funky, &.twilight, &.solarized, &.night, &.zll, &.other {
        > main {
            div.textarea{
                textarea, pre, code, .line-numbers-rows {
                    line-height: var(--lineS) !important;
                }

            }       
        }
    }

    &.dark{
        --theme-bg-color: #fff;
        --theme-primary-color: #000;
        --theme-secondary-color: rgb(50, 50, 50);
        --theme-color-muted: #c9c9c9;
        --theme-text-color: #fff;
        --theme-extra-color: #000;
        --theme-border-color: rgba(255, 255, 255, 0.5);
        --theme-caret-color: #fff;
        --theme-alert-color: rgba(255, 255, 255, 0.8);
        --theme-cristal-color: rgba(255, 255, 255, 0.3);
        --theme-footer-color: rgba(255, 255, 255, 0.8);
    }

    &.funky{
        --theme-bg-color: #fff;
        --theme-primary-color: #10142f;
        --theme-secondary-color: #121e69;
        --theme-color-muted: #c9c9c9;
        --theme-text-color: #fff;
        --theme-extra-color: #000;
        --theme-border-color: #fff;
        --theme-caret-color: #ff0;
        --theme-alert-color: rgba(255, 255, 255, 1);
        --theme-cristal-color: rgba(255, 255, 255, 0.3);
        --theme-footer-color: rgba(255, 255, 255, 0.8);
    }

    &.twilight{
        --theme-bg-color: #fff;
        --theme-primary-color: #1f1f1f;
        --theme-secondary-color: #2c2c2c;
        --theme-color-muted: #e7e7e7;
        --theme-text-color: #fff;
        --theme-extra-color: #000;
        --theme-border-color: rgba(200, 200, 200, 0.3);
        --theme-caret-color:  #dd4a68;
        --theme-alert-color: rgba(255, 255, 255, 1);
        --theme-cristal-color: rgba(255, 255, 255, 0.3);
        --theme-footer-color: rgba(255, 255, 255, 0.8); 
    }
    &.solarized{
        --theme-bg-color: rgba(203, 75, 22, 0.3);
        --theme-primary-color: #fffdd6;
        --theme-secondary-color: #fffa9a;
        --theme-color-muted: #000;
        --theme-text-color: #000;
        --theme-extra-color: #fff;
        --theme-border-color: rgba(203, 75, 22, 0.3);
        --theme-caret-color:  #2aa198;
        --theme-alert-color: rgba(0, 0, 0, 1);
        --theme-cristal-color: rgba(0, 0, 0, 0.3);
        --theme-footer-color: rgba(0, 0, 0, 1); 
    }
    &.night, &.zll {
        --theme-bg-color: #000;
        --theme-primary-color: #272b31; //#17191c;
        --theme-secondary-color: #17191c;
        --theme-color-muted:  rgb(120, 120, 120);
        --theme-text-color: #fff;
        --theme-extra-color: #000;
        --theme-border-color: rgba(255, 255, 255, 0.4);
        --theme-alert-color: rgba(255, 255, 255, 1);
        --theme-cristal-color: rgba(255, 255, 255, 0.3);
        --theme-footer-color: rgba(255, 255, 255, 1); 
        --theme-caret-color:  #433695;
    }

    &.twilight, &.night, &.zll {
        > main {
            div.textarea{
                > div{
                    .line-numbers-rows{
                        > span{
                            &.current:before{
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    > main{
        display: flex;
        flex-direction: column;
        height: calc(100vh - var(--footer-height));
        overflow: hidden;

        // GAP
        // .LR, .TB {
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     z-index: 9;
        // }
        // .LR {
        //     transform: translateX(-2px);
        //     width: 3px;
        //     height: 100%;
        //     cursor: col-resize;
        // }
        // .TB {
        //     transform: translateY(-2px);
        //     width: 100%;
        //     height: 3px;
        //     cursor: row-resize;
        // }
        div#library {
            position: fixed;
            left: 0;
            top: 0;
            transform: translateX(calc(-100% + 3px));
            opacity: 0;
            height: 100vh;
            background-color: var(--theme-secondary-color);
            border-right: 2px solid var(--theme-border-color);
            width: 30vw;
            min-width: 200px;
            max-width: 300px;
            z-index: 11;
            transition: .3s, opacity .2s ease-out;
            &:hover, &.open {
                opacity: 1;
                transform: translateX(0px);
            }
            div.window {
                overflow-y: auto;
                width: 100%;
                height: calc(100% - 20px);
                padding-bottom: 30px;
                div.list {
                    padding: 5px;
                    > div {
                        display: flex;
                        padding: 5px;
                        > a.name {
                            width: 100%;
                        }
                    }
                }
            }
            div.add-new {
                position: absolute;
                bottom: 0;
                left: 0;
                width: calc(100% + 1.5px);
                padding-top: 1px;
                background-color: var(--theme-footer-color);
                color: var(--theme-extra-color);
            }
        }
        div.textarea{
            display: grid;
            grid-template-columns: repeat(auto-fit, 2fr); /*minmax(max(215px, 45vw), 2fr));*/
            grid-gap: 2px;
            width: 100vw;
            flex: 1;
            height: calc(100% - var(--termSize));

            @media screen and (min-width: 800px) {
                & {
                    grid-template-columns: repeat(auto-fit, minmax(max(215px, 45vw), 2fr));

                    // > div.w-1 {
                    //     .TB {
                    //         display: none;
                    //     }
                    // }
                }
                &.odd-3 {
                    .w-2 {
                        grid-column: span 2;
                    }
                }
                &.odd-4 {
                    .w-3 {
                        grid-column: span 2;
                    }
                }
            }
            @media screen and (max-width: 800px) {
                & {
                    grid-template-columns: repeat(auto-fit, 2fr);

                    // > div.w-1, > div.w-3 {
                    //     .LR {
                    //         display: none;
                    //     }
                    // }
                }
            }
            > div{
                flex: 1;
                position: relative;
                background-color: var(--theme-primary-color);

                .top-w-bar {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    right: 0;
                    top: 0;
                    z-index: 5;
                    background-color: var(--theme-secondary-color);
                    border-bottom: .5px solid var(--theme-border-color);
                    .title-w-bar {
                        padding: 3px;
                        padding-left: 10px;
                    }
                    .close-w-bar {
                        display: flex;
                        justify-content: end;
                        a{
                            padding: 3px;
        
                            &:hover{
                                background: var(--theme-text-color);
                                color: var(--theme-primary-color) !important;
                            }
                            &.close-terminal{
                                padding: 5px 10px;
                            }
                        }
                    }
                }

                .code-group {
                    position: relative;
                    height: calc(100% - 22px);
                    .line-numbers-rows{
                        z-index: 1;
                        width: var(--padd) !important;
                        padding: 10px 0 calc(10px + var(--font-size)) 0 !important;
                        text-align: right;
                        height: min-content;
                        border-right: .5px solid var(--theme-border-color);
                        line-height: normal !important;
                        background-color: var(--theme-secondary-color); // rgb(240, 240, 240);
                        overflow: hidden;
                        > span{
                            counter-increment: linenumber;
                            &:before{
                                content: counter(linenumber);
                                display: block;
                                color: var(--theme-color-muted); // #506882;
                                padding: 0 5px 0 3px;
                                // color: #f92672;
                                // transition: .1s ease-out;
                            }
                            &.current:before{
                                background-color: var(--theme-caret-color); // #000000;
                                color: var(--theme-primary-color); // #fff;
                            }
                        }
                    }
                    textarea{
                        border: none;
                        resize: none;
                        outline: none;
                        white-space: pre;
                        z-index: 2;
                        background-color: transparent;
                        color: transparent;
                        // color: rgba(rgb(255, 255, 255), 0.8);
                        caret-color: var(--theme-caret-color);
                        padding: 10px 10px 10px calc(var(--padd) + var(--innerPadd)) !important;
                    }
                    pre{
                        z-index: 0;
                        margin: 0 !important;
                        background-color: transparent !important;
                        padding: 10px 10px calc(10px + var(--font-size)) calc(var(--padd) + var(--innerPadd)) !important;
                        // height: calc(100% - 16px) !important;
                    
                        code{
                            color: var(--theme-text-color);
                            text-shadow: none;
                            line-height: var(--lineS) !important;
                        }
                    }
                    textarea, pre, .line-numbers-rows{
                        position: absolute;
                        transition: all 0.5s, background-color 0s;
                        line-height: var(--lineS) !important;
                        top: 0;
                        width: 100%;
                        left: 0;
                        height: 100%;
                    }
                }
            }
        }
        div#terminal{
            &.open{
                display: block;
            }
            #scroll-height{
                width: 100%;
                height: 5px;
                transform: translateY(-2px);
                cursor: row-resize;
            }
            // flex: 1;
            display: none;
            height: var(--termSize);
            border-top: 2px solid var(--theme-border-color);
            background-color: var(--theme-primary-color);
            position: relative;
            scroll-behavior: smooth;
            z-index: 2;
            > header{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                width: 100%;
                justify-content: space-between;
                z-index: 2;
                align-items: center;
                border-bottom: .5px solid var(--theme-border-color);
                background-color: var(--theme-secondary-color);
                a{
                    padding: 5px;

                    &:hover{
                        background: var(--theme-text-color);
                        color: var(--theme-primary-color) !important;
                    }
                    &.close-terminal{
                        padding: 5px 10px;
                    }
                }
            }
            > main{
                z-index: 1;
                display: flex;
                width: 100%;
                height: 100%;
                position: relative;
                padding: 25px 0 0 0;
                > #terminal-main{
                    width: calc(100% - var(--termOption));
                    overflow: auto;
                    padding: 10px 10px 80px 10px;
                    &:focus{
                        outline: none;
                    }
                    #terminal-main-input{
                        position: relative;
                        #terminal-main-command{
                            display: inline;
                            word-break: break-all;
                            outline: none;
                            visibility: visible;
                        }
                        #terminal-caret{
                            padding: 0;
                            outline: none;
                            // border: none;
                            border: .5px solid var(--theme-caret-color);
                            outline: none;
                            background-color: transparent;
                            display: inline-block;
                            height: 100%;
                            color: transparent;
                            // width: calc(var(--font-size)/2);
                            &:hover{
                                background-color: transparent;
                            }
                            &.blink{
                                background-color: var(--theme-caret-color);
                                // animation: blink 1s infinite;
                            }
                            // @keyframes blink{
                            //     0%{
                            //         opacity: 0;
                            //     }
                            // }
                        }
                    }
                    #terminal-main-history{
                        > .terminal-input{
                            display: flex;
                        }
                    }
                }
                > #terminal-fast-option{
                    #scroll-width{
                        height: 100%;
                        width: 5px;
                        transform: translateX(-1px);
                        cursor: col-resize;
                    }
                    position: relative;
                    width: var(--termOption);
                    border-left: .5px solid var(--theme-border-color);
                    background-color: var(--theme-secondary-color);
                    > a{
                        display: block;
                        padding: 10px;
                        width: 100%;
                        &:hover{
                            background: var(--theme-text-color);
                            color: var(--theme-primary-color) !important;
                        }
                    }
                }
            }
        }
    }

    .hidden-tab {
        &.terminal-opened {
            bottom: calc(var(--footer-height) + var(--termSize) + 10px);
        }  
        position: fixed;
        z-index: 99;
        right: 0;
        transform: translateX(calc(100% - 15px));
        transition: .5s;
        bottom: calc(var(--footer-height) + 10px);
        background-color: var(--theme-text-color);
        border-radius: 5px 0 0 5px;
        padding-left: 15px;
        cursor: pointer;

        &:hover, &.demo {
            transform: translateX(0);
        }
        a {
            padding: 15px;
            color: var(--theme-extra-color);
            &:hover {
                color: var(--theme-primary-color);
            }
        }
    }

    .alert-modal {
        visibility: hidden;
        position: fixed;
        z-index: 106;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        opacity: 0;
        transition: 0.2s;
        background-color: var(--theme-alert-color);
        border-radius: 2px;
        p {
            color: var(--theme-extra-color);
            padding: 10px;
        }
        &.active {
            transform: translate(-50%, 0%);
            visibility: visible;
            opacity: 1;
            transition: 0.2s;
        }
    }
    
    .container-modal, .input-modal {
        display: none;
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        input{
            border: 1px solid var(--theme-bg-color);
            background: transparent;
            width: 100%;
            text-overflow: ellipsis;
            color: inherit;
            &:focus{
                outline: none;
            }
        }
        .stdin {
            padding: 1px;
        }
        &.show {
            display: flex;
        }
        .bg-event {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: var(--theme-cristal-color);
            z-index: -1;
        }
        .prompt-modal {
            background-color: var(--theme-primary-color);
            min-width: 320px;
            max-width: 500px;
            .modal-text {
                padding: 10px;
            }
            .code {
                padding-left: 10px;
                padding-right: 10px;
                min-height: 10px;
                position: relative;
                pre {
                    padding: 5px;
                    max-width: 400px;
                    max-height: 100px;
                    overflow: hidden;
                    background-color: var(--theme-secondary-color) !important;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: max(30px, 100%);
                    bottom: 0;
                    z-index: 9;
                    background: linear-gradient(rgba(255, 255, 255, 0), var(--theme-primary-color));
                }
            }
            .option-modal {
                display: flex;
                align-items: center;
                justify-content: end;
                background-color: var(--theme-text-color);
                a {
                    color: var(--theme-extra-color);
                    cursor: pointer;
                    margin-left: 5px;
                }
            }
        }
    }
    // Footer styles
    > footer{
        background-color: var(--theme-footer-color);
        color: var(--theme-extra-color);
        width: 100vw;
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        .nav-text-offer {
            display: none;
            input{
                // border: none;
                border: 1px solid var(--theme-primary-color);
                background: transparent;
                width: calc(100vw - 11em);
                text-overflow: ellipsis;
                color: inherit;
                margin-left: 1px;
                &:focus{
                    outline: none;
                }
            }
        }
        .nav-default{
            display: flex;
            justify-content: space-between;
            .generate-url{
                text-align: right;
            }
        }
        &.text-offer{
            .nav-default{
                display: none;
            }
            .nav-text-offer{
                display: block;
            }
        }
    }


    // Media queries
    // Mobile
    @media only screen and (max-width: 600px) {
        > footer{
            .nav-default{
                justify-content: space-around;
            }
        }

        .mobile-unshow{
            display: none;
        }
    }
    @media only screen and (min-width: 600px) {
        .desktop-unshow{
            display: none;
        }
    }
    @media only screen and (max-width: 1100px) {
        .tablet-unshow{
            display: none;
        }
    }
}